<a href="https://colab.research.google.com/github/FarhanHassan/Assignment/blob/main/Assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
#Make a class called Employee. The __init__() method for Employee should store its different attributes: name, number, address, salary, post, year of joining, education, and his year of experience.
class Employee:
  def __init__(self, name, number, address , salary , post , year_of_joining , experience):
    self.name = name
    self.number = number
    self.address = address
    self.salary = salary
    self.post = post
    self.year_of_joining = year_of_joining
    self.experience = experience
#Make a method called describe_employee() that prints the detail Information about employee, a method update_ year_of_experience(), and a method called increase_salary() that do increamnet in it's salary.
  def describe_Employee(self):
     print(f"Name: {self.name}, Number: {self.number}, Address: {self.address}, Salary: {self.salary}, Post: {self.post}, Year of Joining: {self.year_of_joining}, Experience: {self.experience}")
  def update_year_of_experience(self, new_experience):
        if new_experience >= self.experience:
            self.experience = new_experience
        else:
            print("New experience value must be greater than or equal to the current experience.")
  def increment_Salary (self, new_salary):
        if new_salary >= self.salary:
            self.salary = new_salary
        else:
            print("New salary value must be greater than or equal to the current salary.")
#Make an instance called employee101 from your class. Print the four attributes individually, and then call all it's methods for describing employee, ssalary increamnet and increase year of experience.
employee101=Employee("Farhan","0340-8392266","Malir",30000,"Junoir Analyst","2023",1)
employee101.describe_Employee()
print(employee101.name)
print(employee101.post)
print(employee101.year_of_joining)
print(employee101.experience)
employee101.update_year_of_experience(2)
print(employee101.experience)
employee101.increment_Salary(40000)
print(employee101.salary)
#Create 10 different instances from the class, and call describe_employee() for each instance. Then do some updations with it's methods.
employee1=Employee("Farhan", "0340-8392266", "Malir", 30000, "Junior Developer", "2023", 1)
employee2=Employee("Aisha", "0340-8392267", "Karachi", 32000, "Junior Developer", "2022", 2)
employee3=Employee("Zubair", "0340-8392268", "Lahore", 31000, "Marketing Coordinator", "2021", 3)
employee4=Employee("Nadia", "0340-8392269", "Islamabad", 33000, "HR Specialist", "2020", 4)
employee5=Employee("Omar", "0340-8392270", "Faisalabad", 34000, "Project Coordinator", "2019", 5)
employee6=Employee("Sara", "0340-8392271", "Rawalpindi", 35000, "Graphic Designer", "2018", 6)
employee7=Employee("Ali", "0340-8392272", "Multan", 36000, "Data Analyst", "2017", 7)
employee8=Employee("Hina", "0340-8392273", "Peshawar", 37000, "Customer Support", "2016", 8)
employee9=Employee("Bilal", "0340-8392274", "Quetta", 38000, "Sales Executive", "2015", 9)
employee10=Employee("Mina", "0340-8392275", "Sialkot", 39000, "IT Consultant", "2014", 10)
employee10.describe_Employee()

Name: Farhan, Number: 0340-8392266, Address: Malir, Salary: 30000, Post: Junoir Analyst, Year of Joining: 2023, Experience: 1
Farhan
Junoir Analyst
2023
1
2
40000
Name: Mina, Number: 0340-8392275, Address: Sialkot, Salary: 39000, Post: IT Consultant, Year of Joining: 2014, Experience: 10